body {
    background-image: url("/public/bg3.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;

    /* background-size: ; */
}

.background-custom {
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.background-custom2 {
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: center;
}

.gradiant-bg {
    font-size: 72px;
    font-weight: bold;
    background: linear-gradient(
        45deg,
        /* #f72585,
        #7209b7,
        #3a0ca3,
        #ff4d6d,
        #4361ee,
        #4cc9f0,
        #ffa200,
        #c91eab */
            #3a0ca3,
        #2d00f7,
        #8900f2,
        #b100e8,
        #e500a4,
        #f20089
    );
    background-size: 40%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: gradient 3s infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link_wrapper {
    position: relative;
}

.link {
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #a872ee;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid;
    transition: all 0.35s;
}

.icon {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all 0.35s;
}

.icon svg {
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #a872ee;
    transition: all 0.35s;
}

.link:hover {
    width: 200px;
    border: 3px solid #a872ee;
    background: transparent;
    color: #a872ee;
}

.link:hover + .icon {
    border: 3px solid #a872ee;
    right: -30%;
    bottom: -80%;
}
